<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <iisnode enableXFF="true" debuggingEnabled="false" />
        <webSocket enabled="false" />
        <handlers>
            <add name="Node Handler" path="app.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <!-- Don't interfere with requests for node-inspector debugging -->
                <rule name="Node Inspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url=".+\.js\/debug[\/]?" />
                </rule>
                <rule name="Change Connection Header">
                    <match url="(.*)socket\.io/" />
                    <conditions>
                        <add input="{HTTP_CONNECTION}" pattern="keep-alive, Upgrade" />
                    </conditions>
                    <serverVariables>
                        <set name="HTTP_CONNECTION" value="Upgrade" />
                    </serverVariables>
                    <action type="Rewrite" url="app.js"/>
                </rule>
                <!-- All other URLs are mapped to the Node.js application entry point -->
                <rule name="Dynamic Content">
                    <match url="/*" />
                <action type="Rewrite" url="app.js" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="false" />
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="node_modules" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
